@media (max-width: 768px) {
    .px-20 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .px-40 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-xl {
        font-size: 1rem;
        /* Ajusta el tama침o del texto en dispositivos m칩viles */
    }

    .list-disc {
        padding-left: 1rem;
    }
}

/*Lo de arriba es del c_Temporada*/

/* Formulario de Google (abajo) */

.custom-section {
    background-color: #2f855a;
    /* bg-green-800 */
    border-radius: 0.5rem;
    /* rounded-lg */
    padding: 2rem;
    /* p-8 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ajusta la altura de la secci칩n seg칰n tus necesidades */
}

/* Bot칩n de subir */

/* Aseg칰rate de que el bot칩n est칠 oculto por defecto */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(58, 173, 68);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(160, 255, 192, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    position: fixed;
    bottom: 20px;
    /* Aseg칰rate de posicionarlo correctamente */
    right: 20px;
    /* Aseg칰rate de posicionarlo correctamente */
    visibility: hidden;
    /* Inicialmente oculto */
    transition: opacity 0.5s ease, visibility 0.5s ease-in;
}

.button.show {
    opacity: 1;
    visibility: visible;
    /* Muestra el bot칩n */
}

.svgIcon {
    width: 12px;
    /* Ajusta el tama침o del icono */
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background: linear-gradient(135deg, rgba(42, 159, 60, 1) 0%, rgba(8, 9, 9, 1) 100%);
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    /* tama침o del icono al pasar el mouse */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    /* Ajusta la posici칩n del texto */
    content: "Hacia arribaaa 游";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}