@media (max-width: 768px) {
    .px-20 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .px-40 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-xl {
        font-size: 1rem; /* Ajusta el tamaño del texto en dispositivos móviles */
    }

    .list-disc {
        padding-left: 1rem;
    }
}

/*Lo de arriba es del c_Temporada*/

/* Formulario de Google (abajo) */

.custom-section {
    background-color: #2f855a; /* bg-green-800 */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 2rem; /* p-8 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura de la sección según tus necesidades */
}
